<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Login" value="D11111111111111" />
    <add key="Password" value="xxxx" />
    <add key="URL" value="http://www.fxcorporate.com/Hosts.jsp" />
    <add key="Connection" value="Demo" />
    <add key="SessionID" value="{SESSIONID}" />
    <add key="Pin" value="{PIN}" />
    <add key="Instrument" value="EUR/USD" />
    <add key="Lots" value="2" />
    <add key="Account" value="2286182" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>