<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="Login" value="D101546000000"/>
    <add key="Password" value="1111"/>
    <add key="URL" value="www.fxcorporate.com/Hosts.jsp"/>
    <add key="Connection" value="Demo"/>
    <add key="SessionID" value="{SESSIONID}"/>
    <add key="Pin" value="{PIN}"/>
    <add key="Instrument" value="EUR/USD"/>
    <add key="BuySell" value="B"/>
    <add key="OrderType" value="OM"/>
    <add key="Lots" value="4"/>
    <add key="Account" value="1549059"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
